<nav class="top-navbar">
    <div class="container">
        <ul class="top-menu">
            <li><button class="btn btn-primary snake-button" (click)="downloadMagazine()">Download Magazine</button>
            </li>
        </ul>
    </div>
</nav>
<header id="header_main" class="header">
    <div class="container">
        <div id="site-header-inner">
            <div class="header__logo">
                <a href="index.html"><img src="assets/logo.jpg" alt=""></a>
            </div>
            <a href="#" class="header-contact">
                <div class="icon">
                    <span class="icon-Icon"></span>
                </div>
                <div class="desc">
                    <span>Phone:</span>  +012 (345) 6789
                </div>
            </a>
            <nav id="main-nav" class="main-nav">
                <ul id="menu-primary-menu" class="menu">
                    <li class="menu-item menu-item-has-children current-menu-item">
                        <a [routerLink]="'/main'" routerLinkActive="active">Home</a>
                        
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a [routerLink]="'/agence'" routerLinkActive="active">Agence</a>
                    </li>
                    
                    
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Nos services</a>
                        
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a [routerLink]="'/nos-realisations'" routerLinkActive="active">Nos realisations</a>
                    </li>
                    <li class="menu-item">
                        <a [routerLink]="'/contact'" routerLinkActive="active">Contact</a>
                    </li>
                </ul>
            </nav><!-- /#main-nav -->
            <div class="header-right">
                <div class="header-search flat-show-search" id="s1">
                    <a href="#" class="show-search header-search-trigger">
                        <span class="icon-Vector"></span>
                    </a>
                    <div class="top-search">
                        <form action="#" method="get" role="search" class="search-form">
                            <input type="search" id="s" class="search-field" placeholder="Search..." value="" name="s" title="Search for" required="">
                            <button class="search search-submit" type="submit" title="Search">
                                <i class="icon-Vector"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <a class="tf-button" a routerLink="/register">                          
                    <span>Espace enterprise</span>
                </a>
            </div>
            <div class="mobile-button"><span></span></div><!-- /.mobile-button -->
        </div>
    </div>
</header>
