<footer id="footer" class="style2">
    <div class="footer-main">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="widget widget-logo">
                    <div class="footer__logo style2">
                        <a href="index.html">
                            <img src="assets/images/logo/logo3.png" alt="">
                        </a>
                    </div>
                    <p class="desc">Pellentesque viverra eget velit a tincidunt. Sed mattis enim nisl, sit amet malesuada sapien</p>
                    <form action="#" id="subscribe-form">
                        <input type="text" placeholder="Email Address" name="mail" id="subscribe-email" required>
                        <button type="submit" id="subscribe-button">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2075_4097)">
                                <path d="M16.4453 20C16.5209 20 16.597 19.9857 16.6696 19.9553C16.8888 19.865 17.0312 19.6509 17.0312 19.4141V0.585919C17.0312 0.349044 16.8888 0.135021 16.6696 0.0446301C16.4499 -0.0463465 16.1987 0.00459099 16.031 0.171661L3.1404 13.1014C2.97275 13.269 2.9224 13.5208 3.01337 13.74C3.10376 13.9591 3.31779 14.1016 3.55466 14.1016H10.3433L16.031 19.8284C16.1432 19.9405 16.2931 20 16.4453 20Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0_2075_4097">
                                <rect width="20" height="20" fill="white" transform="matrix(-1 0 0 1 20 0)"/>
                                </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </form>
                </div>
  
                <div class="widget widget-service">
                    <h5 class="widget-title">
                        Our Services
                    </h5>
                    <ul class="widget-link">
                        <li>
                            <a href="about.html">About Us</a>
                        </li>
                        <li>
                            <a href="service.html">Service</a>
                        </li>
                        <li>
                            <a href="pricing.html">Pricing</a>
                        </li>
                        <li>
                            <a href="porfolio.html">Portfolio</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-recent-posts">
                    <h5 class="widget-title">
                        Popular Post
                    </h5>
                    <ul class="recent-posts style">
                        <li>
                            <img src="assets/images/post/thump4.jpg" alt="">
                            <ul class="content">
                                <li><a href="blog-details.html">The future is bright,
                                    the future is IT</a></li>
                                <li class="meta-post">
                                    <a href="blog-details.html">20 Th Oct 2021</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="recent-posts">
                        <li>
                            <img src="assets/images/post/thump5.jpg" alt="">
                            <ul class="content">
                                <li><a href="blog-details.html">The future is bright,
                                    the future is IT</a></li>
                                <li class="meta-post">
                                    <a href="blog-details.html">20 Th Oct 2021</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-infomation">
                    <h5 class="widget-title">
                        Contact Info
                    </h5>
                    <ul class="infomation">
                        <li>
                            <span>Phone :</span>+1 246-345-069
                        </li>
                        <li class="style">
                            <span>Email :</span>Monolgmail.com
                        </li>
                        <li>
                            <span>Address :</span>90 Stanmer St, London
                            SW11 3DE, UK
                        </li>
                    </ul>
                    <ul class="social">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>                           
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <div class="footer-bottom">
                        <div class="wrap-fx">
                            <div class="Copyright">
                                <span>© 2022.  <a href="#">monal</a> All rights reserved.</span>
                            </div>
                            <ul class="list">
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="service.html">Service</a>
                                </li>
                                <li>
                                    <a href="faq.html">Faq</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  </footer>
  