<section class="elementor-section" id="NOS_REALISATIONS">
    <div class="elementor-container">
        <div class="elementor-column">
            <div class="elementor-widget-wrap">
                <br><br>

                <!-- Spacer for visual separation -->
                <div class="elementor-widget-spacer"></div>

                <!-- Heading for the section -->
                <div class="elementor-widget-heading">
                    <h2 class="elementor-heading-title">OUR LATEST WORK</h2>
                </div>

                <!-- Spacer for visual separation -->
                <div class="elementor-widget-spacer"></div>

                <!-- Portfolio Grid -->
                 <div class="img">
                <img src="assets/ted-images/imgt.jpg" alt="">
                <img src="assets/ted-images/imgt1.jpg" alt=""[id]="2">
                <img src="assets/ted-images/imgt2.jpg" alt=""[id]="3">
                <img src="assets/ted-images/imgt3.jpg" alt="">
                <img src="assets/ted-images/imgt4.jpg" alt="">

                 </div>
                
            </div>
        </div>
    </div>
</section>
