<section class="elementor-section" id="NOS_REALISATIONS">
    <div class="elementor-container">
        <div class="elementor-column">
            <div class="elementor-widget-wrap" >
                <br><br>

                <!-- Spacer for visual separation -->
                <div class="elementor-widget-spacer"></div>

                <!-- Heading for the section with Bootstrap animation -->
                <div class="elementor-widget-heading text-center">
                    <h2 class="elementor-heading-title animate__animated animate__fadeIn">OUR LATEST WORK</h2>
                </div>

                <!-- Spacer for visual separation -->
                <div class="elementor-widget-spacer"></div>

                <!-- Portfolio Grid using Bootstrap grid system -->
                <div class="row">
                    <div class="col-12 col-md-4 mb-4">
                        <div class="img-container">
                            <img src="assets/ted-images/imgt.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="img-container">
                            <img src="assets/ted-images/imgt1.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="img-container">
                            <img src="assets/ted-images/imgt2.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="img-container">
                            <img src="assets/ted-images/imgt3.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <div class="img-container">
                            <img src="assets/ted-images/imgt4.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>